PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/roscomos
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me_32_chars_minimum_secret
JWT_EXPIRES_IN=7d
FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
FLOW_NETWORK=testnet
CONTRACT_ADDRESS=0xa89655a0f8e3d113
